.scroller {
    max-width: 100%;
    overflow: hidden;
    /* This creates the nice fade-out effect on the edges */
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller__inner {
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    /* Let the container be as wide as its content */
    width: max-content; 
}